<h1 class="text-left">Centro de Custo</h1>
<hr>
<form ng-submit="salvar()">
    <div class="form-group" style="width: 40%">
        <label for="descricao">Descricao</label>
        <input type="text" class="form-control" id="descricao" name="descricao" required ng-model="centroCusto.descricao">
    </div>
    
    <div align="left">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#/centrosCusto" class="btn btn-default">Voltar</a>
    </div>
    <br>
</form>