<div style="margin-top: 2%">
	<a ng-href="#/funcionario" class="btn btn-primary">Novo Funcionario</a>
	<a href="#/home" class="btn btn-default">Voltar</a>
</div>
<hr>
<h1 class="text-left">Funcionarios</h1>
<div class="table-responsive" style="margin-top: 2.5%">
	<table class="table table-hover table table-striped">
		<tr>
			<th class="text-center">Acao</th>
			<th>Codigo</th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>CPF</th>
			<th>RG</th>
			<th>E-mail</th>
			<th>Senha</th>
			<th>Setor</th>
			<th>Baixa Requisicao?</th>
			<th>Empresa</th>
			<th>Cargo</th>
		</tr>
		<tr ng-repeat='funcionario in funcionarios'>
			<td class="text-center">
				<button class="btn btn-danger" ng-click="remove(funcionario)" title="Remover">
					-</button>
			</td>
			<td><a ng-href="#/funcionario/{{funcionario.idFuncionario}}">{{funcionario.idFuncionario}}</a>
			</td>
			<td>{{funcionario.nome}}</td>
			<td>{{funcionario.sobrenome}}</td>
			<td>{{funcionario.cpf}}</td>
			<td>{{funcionario.rg}}</td>
			<td>{{funcionario.email}}</td>
			<td>{{funcionario.senha}}</td>
			<td>{{funcionario.setor}}</td>
			<td><input type="checkbox" ng-model="funcionario.baixaRequisicao" ></td>
			<td>{{funcionario.empresa.nome}}</td>
			<td>{{funcionario.cargo.descricao}}</td>
		</tr>
	</table>
</div>