<div style="margin-top: 2%">
	<a ng-href="#/grupoProduto" class="btn btn-primary">Novo Grupo de Produtos</a>
	<a href="#/home" class="btn btn-default">Voltar</a>
</div>
<hr>
<h1 class="text-left">Grupos de Produtos</h1>
<div class="table-responsive" style="margin-top: 2.5%">
	<table class="table table-hover table table-striped">
		<tr>
			<th class="text-center">Acao</th>
			<th>Codigo</th>
			<th>Descricao</th>
		</tr>
		<tr ng-repeat='grupoProduto in gruposProdutos'>
			<td class="text-center">
				<button class="btn btn-danger" ng-click="remove(grupoProduto)">
					Remover</button>
			</td>
			<td><a ng-href="#/grupoProduto/{{grupoProduto.idGrupoProduto}}">{{grupoProduto.idGrupoProduto}}</a>
			</td>
			<td>{{grupoProduto.descricao}}</td>
		</tr>
	</table>
</div>