<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <a href="/omnicontrol/#/home" class="navbar-brand"><i class="ion-images"></i>Omni Control</a>
      <li><a href="/omnicontrol/#/home">Home</a></li>
      <li><a ng-click="logout()" href="">Logout</a></li>
    </ul>
  </div>
</div>
<div class="jumbotron" style="margin-top: 10%">
	<div class="row">
		<div class="col-sm-4 col-md-2">
			<div class="thumbnail">
				<a href="#/empresas"><img class="center-block"
					src="images/empresa_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Empresa</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/cargos"><img class="center-block"
					src="images/cargos_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Cargos</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/funcionarios"><img class="center-block"
					src="images/funcionarios_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Funcionarios</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/fornecedores"><img class="center-block"
					src="images/fornecedor_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Fornecedores</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/gruposProdutos"><img class="center-block"
					src="images/grupo.png" alt="..."></a>
			</div>
			<h5 align="center">Grupo Produtos</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/produtos"><img class="center-block"
					src="images/palet.png" alt="..."></a>
			</div>
			<h5 align="center">Produtos</h5>
		</div>
	</div>
	<div class="row" style="margin-top: 2%">
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/tiposNegociacoes"><img class="center-block"
					src="images/pedido_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Tipos de Negociacoes</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/tiposOperacoes"><img class="center-block"
					src="images/pedido_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Tipos de Operacoes</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/centrosCusto"><img class="center-block"
					src="images/pedido_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Centros de Custo</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/cabecalhoNotas"><img class="center-block"
					src="images/pedido_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Central</h5>
		</div>
		<div class="col-sm-3 col-md-2">
			<div class="thumbnail">
				<a href="#/contasPagar"><img class="center-block"
					src="images/pedido_icon.png" alt="..."></a>
			</div>
			<h5 align="center">Contas a Pagar</h5>
		</div>
	</div>

</div>
